<div class="sintesis-container">
  <!-- Photo and Personal Informatin -->
  <div class="pi-container">
    <!-- Lateral Left Fill Blue -->
    <div class="lateral-left-fill"></div>
    <!-- Personal Information -->
    <div class="pi-information">
      <img
        src="https://imgv3.fotor.com/images/gallery/watercolor-female-avatar.jpg"
        alt="photo"
        class="avatar"
      />
      <span class="sp-fullname"
        >LUISA MERCEDES <br /><b>CENTENO JIMENEZ</b></span
      >
      <!-- Titulo Acerca de Mi -->
      <div class="fill-title">ACERCA DE MI</div>
      <!-- Contenido -->
      <div class="text-info">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, ex
        repellendus eligendi quas ducimus voluptatum tenetur cum sequi vel
        recusandae earum a sed aspernatur temporibus quis perferendis libero.
        Corporis, tenetur!
      </div>
      <!-- Referencias Personales -->
      <div class="fill-title">REFERENCIAS</div>
      <!-- Contenido -->
      <div class="text-info">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, ex
        repellendus eligendi quas ducimus voluptatum tenetur cum sequi vel
        recusandae earum a sed aspernatur temporibus quis perferendis libero.
        Corporis, tenetur!
      </div>
    </div>
    <!-- General Information -->
    <div class="ge-information">
      <!-- Contacto -->
      <div class="fill-r-title">CONTACTO</div>
      <div class="text-r-info">
        <ul class="list">
          <li>
            <img
              src="https://www.svgrepo.com/show/520795/id-card.svg"
              alt="Cedula"
              class="li-icon"
            />
            <span class="li-item">Cedula:</span>
            <span class="li-item-value">V-20.030.829</span>
          </li>
          <li>
            <img
              src="https://www.svgrepo.com/show/532540/location-pin-alt-1.svg"
              alt="location"
              class="li-icon"
            />
            <span class="li-item">Direccion:</span>
          </li>
          <li>
            <img
              src="https://www.svgrepo.com/show/533291/phone-flip.svg"
              alt="Telefono"
              class="li-icon"
            />
            <span class="li-item">Telefono:</span>
          </li>
          <li>
            <img
              src="https://www.svgrepo.com/show/479773/email-8.svg"
              alt="Correo"
              class="li-icon"
            />
            <span class="li-item">Correo:</span>
          </li>
        </ul>
      </div>

      <!-- Educacion -->
      <div class="fill-r-title">EDUCACION</div>
      <div class="flow-container">
        <!-- Escuela -->
        <div class="flow-content">
          <div class="flow-point">
            <span class="point-mark"></span>
            <span class="point">ESCUELA PRIMARIA</span>
            <small class="s-point">1er a 6to Grado</small>
          </div>
          <div class="flow-body">
            <h1 class="flow-body-title">1999 - 2005</h1>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, ex
            repellendus eligendi quas ducimus voluptatum tenetur cum sequi vel
            recusandae earum a sed aspernatur temporibus quis perferendis
            libero. Corporis, tenetur!
          </div>
        </div>
        <!-- Escuela -->
        <div class="flow-content">
          <div class="flow-point">
            <span class="point-mark"></span>
            <span class="point">ESCUELA PRIMARIA</span>
            <small class="s-point">1er a 6to Grado</small>
          </div>
          <div class="flow-body">
            <h1 class="flow-body-title">1999 - 2005</h1>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, ex
            repellendus eligendi quas ducimus voluptatum tenetur cum sequi vel
            recusandae earum a sed aspernatur temporibus quis perferendis
            libero. Corporis, tenetur!
          </div>
        </div>
        <!-- Escuela -->
        <div class="flow-content">
          <div class="flow-point flow-point-reverse">
            <span class="point-mark"></span>
            <span class="point">ESCUELA PRIMARIA</span>
            <small class="s-point">1er a 6to Grado</small>
          </div>
          <div class="flow-body">
            <h1 class="flow-body-title">1999 - 2005</h1>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, ex
            repellendus eligendi quas ducimus voluptatum tenetur cum sequi vel
            recusandae earum a sed aspernatur temporibus quis perferendis
            libero. Corporis, tenetur!
          </div>
        </div>
      </div>

      <!-- Experiencias Laborales -->
      <div class="fill-r-title">EXPERIENCIAS LABORALES</div>
      <div class="flow-container">
        <!-- Escuela -->
        <div class="flow-content">
          <div class="flow-point">
            <span class="point-mark"></span>
            <span class="point">ESCUELA PRIMARIA</span>
            <small class="s-point">1er a 6to Grado</small>
          </div>
          <div class="flow-body">
            <h1 class="flow-body-title">1999 - 2005</h1>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, ex
            repellendus eligendi quas ducimus voluptatum tenetur cum sequi vel
            recusandae earum a sed aspernatur temporibus quis perferendis
            libero. Corporis, tenetur!
          </div>
        </div>
        <!-- Escuela -->
        <div class="flow-content">
          <div class="flow-point">
            <span class="point-mark"></span>
            <span class="point">ESCUELA PRIMARIA</span>
            <small class="s-point">1er a 6to Grado</small>
          </div>
          <div class="flow-body">
            <h1 class="flow-body-title">1999 - 2005</h1>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, ex
            repellendus eligendi quas ducimus voluptatum tenetur cum sequi vel
            recusandae earum a sed aspernatur temporibus quis perferendis
            libero. Corporis, tenetur!
          </div>
        </div>
        <!-- Escuela -->
        <div class="flow-content">
          <div class="flow-point flow-point-reverse">
            <span class="point-mark"></span>
            <span class="point">ESCUELA PRIMARIA</span>
            <small class="s-point">1er a 6to Grado</small>
          </div>
          <div class="flow-body">
            <h1 class="flow-body-title">1999 - 2005</h1>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, ex
            repellendus eligendi quas ducimus voluptatum tenetur cum sequi vel
            recusandae earum a sed aspernatur temporibus quis perferendis
            libero. Corporis, tenetur!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
